@import "share/base";
@import "module";
@import "style";
@import "message";

body{
  background: #fff;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-repeat: repeat-y;
}

html,body {
  min-height: 100vh;
  display: block;
}

