

.message-list-enter{
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 1.2rem;
  bottom: 50px;
  padding-bottom: 15px;

  a{
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
    border-radius: .5rem;
    background-image: url("../images/btn-enter.png");
    background-position: center center;
    background-size: 100% 100%;
  }
}

.memeber-input{
  position: fixed;
  left: 0;
  right: 0;
  padding: 0 1.5rem;
  bottom: 115px;
  textarea{
    width: 100%;
    border: 1px solid #474a4d;
    border-radius: .5rem;
    height: 60px;
    padding:.5rem;
    line-height: 1.4rem;
    resize: none;
    background: #1a1d34;
    &::-webkit-input-placeholder {
      color: #040409;
    }
  }
}

.message-list{
  padding: 1.5rem;
  .message-item{
    margin-bottom: 2rem;
    display: flex;
  }
  .personimg{
    width: 40px;
    height: 40px;
    border-radius: .4rem;
    text-align: center;
    background-image: url("../images/icon-me1.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    margin-right: 1.5rem;
    text-align: center;
    line-height: 40px;

  }
  .message-item-box{
    flex: 1;
    min-width: 0;
    border: 1px solid #b87f01;
    background: #000;
    border-radius: 1rem;
    padding: .5rem .8rem;
    font-size: 1.2rem;
    position: relative;
    color: #fff;
    &:before {
      position:absolute;
      content:" ";
      width:0;
      height:0;
      top:1rem;
      border:8px solid transparent;
      left:-1.3rem;
      pointer-events:none;
      border-right-width:8px;
      border-right-color: #b87f01;
    }
    &:after{
      position:absolute;
      content:" ";
      width:0;
      height:0;
      top:1.1rem;
      border:8px solid transparent;
      left:-1.2rem;
      pointer-events:none;
      border-width:7px;
      border-right-width:7px;
      border-right-color: #000;
    }
  }
}

.message-right{
  .personimg{
    order: 2;
    margin-left: 1.5rem;
    margin-right: 0;
    background-image: url("../images/icon-me2.png");
  }
  .message-item-box{
    order: 1;
    border: 1px solid #94271f;
    &:before {
      position:absolute;
      content:" ";
      width:0;
      height:0;
      top:1rem;
      left: auto;
      border:8px solid transparent;
      right:-1.3rem;
      pointer-events:none;
      border-left-width:8px;
      border-left-color: #94271f;
    }
    &:after{
      position:absolute;
      content:" ";
      width:0;
      height:0;
      left: auto;
      top:1.1rem;
      border:8px solid transparent;
      right:-1.2rem;
      pointer-events:none;
      border-width:7px;
      border-left-width:7px;
      border-left-color:#000;
    }
  }
}