extends share/layouts
include share/module

block content
    +topbar('升级套餐')

    div.tao.tao-shengji
        div.taobox
            h5 升级套餐服务项目
            div.weui-cells
                a.weui-cell.weui-cell_access
                    div.weui-cell__bd.weui-cell_primary 加油
                    div.weui-cell__rt 500元/月
                a.weui-cell.weui-cell_access
                    div.weui-cell__bd.weui-cell_primary 保养(需预约)
                    div.weui-cell__rt 2次/年
                a.weui-cell.weui-cell_access
                    div.weui-cell__bd.weui-cell_primary 洗车
                    div.weui-cell__rt 1次/周
                a.weui-cell.weui-cell_access
                    div.weui-cell__bd.weui-cell_primary 保险
                    div.weui-cell__rt.moeny 5000元
                a.weui-cell.weui-cell_access
                    div.weui-cell__bd.weui-cell_primary 救援
                    div.weui-cell__ft 查看
            button 支付 22990元
            div.day 保险剩余
                span 1890
                | 天点亮
    +tabbar