extends share/layouts
include share/module

block content
    +topbar('消费记录')

    div.rmenus.border-bottom
        a.active 全部记录
        a 洗车记录
        a 保养记录
        a 保险记录
    div.weui-cells.rlist
        a.weui-cell.weui-cell_access
            div.weui-cell__hd(style="border:1px solid #1e88ca")
                img(src="./images/icon-17.png")
            div.weui-cell__bd.weui-cell_primary
                span [洗车] 川BS34567
                p 2018/78/2 16:345
            span.weui-cell__ft
        a.weui-cell.weui-cell_access
            div.weui-cell__hd(style="border:1px solid #ea585b")
                img(src="./images/icon-18.png")
            div.weui-cell__bd.weui-cell_primary
                span [洗车] 川BS34567
                p 2018/78/2 16:345
            span.weui-cell__ft
        a.weui-cell.weui-cell_access
            div.weui-cell__hd(style="border:1px solid #fac100")
                img(src="./images/icon-19.png")
            div.weui-cell__bd.weui-cell_primary
                span [洗车] 川BS34567
                p 2018/78/2 16:345
            span.weui-cell__ft

    +tabbar