extends share/layouts
include share/module

block content
    +topbar('完善资料')

    div.weui-cells.weui-cells_form.write-info
        div.weui-cell
            div.weui-cell__hd
                label.weui-label 姓名：
            div.weui-cell__bd
                input.weui-input(placeholder="请输入您的姓名" type='text')
        div.weui-cell
            div.weui-cell__hd
                label.weui-label 车牌：
            div.weui-cell__bd
                input.weui-input(placeholder="请输入您的车牌" type='text')
        div.weui-cell
            div.weui-cell__hd
                label.weui-label 地址：
            div.weui-cell__bd
                input.weui-input(placeholder="请输入油卡收货地址" type='text')
        div.weui-cell
            div.weui-cell__hd.self-top
                label.weui-label 服务点：
            div.weui-cell__bd
                input.select-area-menus(value="省/市/区" readonly="readonly")
                select.weui-select
                    option(value="") 高新4S奔驰店

    div.uploadfile
        div.weui-uploader__input-box
            | 上传身份证正面
            input.weui-uploader__input(type="file" accept="image/*")
        div.weui-uploader__input-box
            | 上传身份证反面
            input.weui-uploader__input(type="file" accept="image/*")
        div.weui-uploader__input-box
            | 上传行驶证正面
            input.weui-uploader__input(type="file" accept="image/*")
        div.weui-uploader__input-box
            | 上传行驶证反面
            input.weui-uploader__input(type="file" accept="image/*")

    div.sbtn
        button 完成

    +tabbar

    script.
        // 级联选择器
        document.querySelector('.select-area-menus').addEventListener('click', function (e) {
            var el = e.target;
            weui.picker([
                {
                    label: '广东',
                    value: 0,
                    children: [
                        {
                            label: '广州',
                            value: 0,
                            children: [
                                {
                                    label: '海珠',
                                    value: 0
                                }, {
                                    label: '番禺',
                                    value: 1
                                }
                            ]
                        }, {
                            label: '佛山',
                            value: 1,
                            children: [
                                {
                                    label: '禅城',
                                    value: 0
                                }, {
                                    label: '南海',
                                    value: 1
                                }
                            ]
                        }
                    ]
                }, {
                    label: '广西',
                    value: 1,
                    children: [
                        {
                            label: '南宁',
                            value: 0,
                            children: [
                                {
                                    label: '青秀',
                                    value: 0
                                }, {
                                    label: '兴宁',
                                    value: 1
                                }
                            ]
                        }, {
                            label: '桂林',
                            value: 1,
                            children: [
                                {
                                    label: '象山',
                                    value: 0
                                }, {
                                    label: '秀峰',
                                    value: 1
                                }
                            ]
                        }
                    ]
                }
            ], {
                depth: 3,
                defaultValue: [0, 1, 1],
                onChange: function (result) {
                    console.log(result);
                },
                onConfirm: function (result) {
                    console.log(result);
                    el.value = result[0].label + '/' + result[1].label + '/'  +  result[2].label;
                },
                id: 'cascadePicker'
            });
        });