extends share/layouts
include share/module

block content
    +topbar('保养')

    div.filter-bar.border-bottom
        div.filter-bar-item
            span.filter-bar-is 四川
        div.filter-bar-item
            span.filter-bar-is 绵阳
        div.filter-bar-item
            span.filter-bar-is 涪城


    +list-1
    +tabbar