extends share/layouts
include share/module

block content
    +topbar('个人资料')

    div.weui-cells.myinfo
        a.weui-cell.weui-cell_access
            div.weui-cell__hd 姓名：
            div.weui-cell__bd.weui-cell_primary 张三三
        a.weui-cell.weui-cell_access
            div.weui-cell__hd 电话：
            div.weui-cell__bd.weui-cell_primary 张三三
        a.weui-cell.weui-cell_access
            div.weui-cell__hd 车牌：
            div.weui-cell__bd.weui-cell_primary 张三三
        a.weui-cell.weui-cell_access
            div.weui-cell__hd 地址：
            div.weui-cell__bd.weui-cell_primary 张三三
        a.weui-cell.weui-cell_access
            div.weui-cell__hd 密码：
            div.weui-cell__bd.weui-cell_primary 8***34
            span.weui-cell__ft


    +tabbar