extends share/layouts
include  module/template

block content
    +tpl-top-bar('交易大厅')
    div.h80
    div.trade
        div.trade-top
            div.trade-top-bg
            div.trade-top-menu
                a.buy
                    span 买入M币
                a.sell.active
                    span 卖出M币
        div.trade-form
            div.trade-form-bg
                div.trade-form-item
                    div.label 当前价格:
                    div.input
                        input(type='text' placeholder='')
                div.trade-form-item
                    div.label 买入数量:
                    div.input
                        input(type='text' placeholder='')
                div.trade-form-item
                    div.label 总计金额:
                    div.input
                        input(type='text' placeholder='')
                div.trade-form-submit
                    a.enter() 确认卖出

    +tpl-tool-bar

