extends share/layouts
include share/module

block content
    +topbar('商户中心')
    div.ad-3
        img(src="./images/b8.jpg")
    div.weui-cells.myinfo.shinfo
        a.weui-cell.weui-cell_access
            div.weui-cell__bd.weui-cell_primary 洗车
            span.weui-cell__ft
        a.weui-cell.weui-cell_access
            div.weui-cell__bd.weui-cell_primary 保养
            span.weui-cell__ft
        a.weui-cell.weui-cell_access
            div.weui-cell__bd.weui-cell_primary 记录
            span.weui-cell__ft


    +tabbar