extends share/layouts
include  module/template

block content
    +tpl-top-bar('注册中心')
    div.h80

    div.user-form
        div.user-form-item
            input(type='text' placeholder="请输入您的手机号")
            a.veriycode 获取验证码
        div.user-form-item
            input(type='text' placeholder="请输入验证码")
        div.user-form-item
            input(type='text' placeholder="设置密码")

        div.user-form-submit
            a.enter 下一步

    +tpl-tool-bar

