*{
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #fff!important;
}

body {
  overflow-x: hidden;
  background-color: #fff;
  word-break: break-word;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  line-height: 1.42857142857143;
  font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
  letter-spacing: -.005em;
  text-decoration-skip: ink;
}
[hidden],.hidden, .mobile{
  display: none
}
a{
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  img {
    border: 0
  }
}
input {
  outline: none;
  border-radius: 0;
}
.fl {
  float: left
}
.fr {
  float: right
}
ul,li {
  list-style: none
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none
}
input[type="button"],button,input[type="submit"] {
  cursor: pointer
}

section{
  display: block;
}

html,body{
  box-sizing: border-box;
  background: #fff;
  color: #1f1a17;
  * {
    box-sizing: inherit;
  }
}
